# compiled output
/dist
/node_modules
.npm
junit.xml

# extra folder
/documentation
/tmp
/tmp/**/*.sql
/tmp/**/config.json
/tmp/**/*.key
!/tmp/**/.env
!.gitkepp

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS
.DS_Store

# Tests
/coverage
/test/network/coverage
/test/network/node_modules
/.nyc_output
/storage
/test/network/config

# IDEs and editors
/.idea
.vscode
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

private__*.*


#Benchmark