[submodule "test/network/repo"]
	path = test/network/repo
	url = ../../trustcerts/chain-config.git
[submodule "test/benchmarktool"]
	path = test/benchmarktool
	url = ../../trustcerts/benchmarktool.git
